.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .ant-menu {
    flex: 1;
  }
  .logo {
    width: 36px;
    height: 36px;
    background: url('../../assets/img/logo.png');
    background-size: contain;
    margin-bottom: 0;
    margin-right: 24px;
    animation: rotate 5s linear infinite;
  }
  @keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
  }
  .info {
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    .icon,.logout-icon {
      font-size: 24px;
    }
    .account {
      margin-left: 8px;
      line-height: 24px;
    }
    .logout-icon {
      margin-left: 12px;
      cursor: pointer;
      &:hover {
        color: #1677ff;
      }
    }
    .ant-popconfirm-description {
      white-space: nowrap;
    }
  }
  .layout-main {
    overflow-y: auto;
  }
}